h1{
color: white;
}
body.body{
    background-image: url(../assests/DSC_0809.jpeg);
    background-size: cover;
}
.shoe-interest{
    font-size: 50px;
}
.title{
    color: black;
}
.interets{
    background-color: grey;
}
body{
background-color: grey;
}
.computer-interest{
    font-size: 50px;
}
body.accomplishents{
    background-image: url(../assests/DSC_0809.jpeg);
    background-size: cover;
}